<%= form_for(@result) do |result_form| %>
  
  <%= result_form.hidden_field :quiz_id, :value => @result.quiz_id %>

  <% questions_counter = 0 %>

  <%= result_form.fields_for :answers do |answers_form| %>

    <p>
      <%= answers_form.hidden_field :question_id, :value => @quiz.questions[questions_counter].id %>
      <%= answers_form.label @quiz.questions[questions_counter].name %>
      <%= answers_form.select :correct, 
  	    options_from_collection_for_select(
  	  	  @quiz.questions[questions_counter].options, 'correct', 'content') %>
    </p>

  	<% questions_counter += 1 %>
  <% end %>

  <%= result_form.submit "See Results" %>
<% end %>

<!-- <p>Question 1: <%= @question1 %></p>
<p>Question 2: <%= @question2 %></p>
<p>Question 3: <%= @question3 %></p> -->